@import url('../../index.css');

.about__container {
  /* width: 1440px; */
  width: 100%;
  background: #fff;

  display: flex;
  justify-content: center;
  gap: 56px;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 18px;
  line-height: 24px;

  margin: 80px 0;
}

.about__profile {
  width: 464px;
  height: 464px;
  /* height: 100%; */
  /* width: 100%; */
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.about__header {
  font-family: 'Roboto-Slab-Regular', sans-serif;
  font-size: 40px;
  line-height: 46px;

  margin: 0 0 24px 0;
}

.about__text {
  width: 600px;
  margin: 0;
}
