@import url("../index.css");

.about__container {
  max-width: 1440px;

  background: #fff;

  display: flex;
  gap: 56px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;

  margin: 80px 0 80px 104px;
}

.about__profile {
  max-width: 464px;
  height: 464px;
  width: 100%;
  border-radius: 100%;
}

.about__header {
  font-family: "Roboto-Slab-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;

  margin: 0 0 24px 0;
}

.about__text {
  width: 600px;
  margin: 0;
}
